.lastNews {
    margin-top: 20px !important;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }


    &__right {
        order: 1;
        padding: 17.72px 0px 5.782px 17.72px;
        border: 0.719px solid #EEE;
        background: #FFF;

        &-title {
            color: #F7931E;
            font-family: "BBC Reith Sans", sans-serif;
            font-size: 14.386px;
            font-weight: 500;
            margin-bottom: 22.768px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 31.65px;
        }
    }

    &__left {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        &-wrap {
            order: 2;
        }
    }
}


@media only screen and (min-width: 576px) {
    .lastNews {
        &__wrapper {
            grid-template-columns: 1fr 271px;
        }

        &__right {
            order: 2;
            padding: 14px 0px 5px 14px;

            &-title {
                color: #F7931E;
                font-family: "BBC Reith Sans", sans-serif;
                font-size: 11.366px;
                margin-bottom: 18px;
            }

            &-list {
                gap: 25.01px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .lastNews {
        &__wrapper {
            gap: 13px;
        }

        &__right {
            order: 2;
        }

        &__left {
            grid-template-columns: 1fr 1fr;
            order: 2;
            gap: 20px 10px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .lastNews {
        margin-top: 89px;

        &__wrapper {
            grid-template-columns: 1fr 477px;
            gap: 20px;
        }

        &__right {
            padding: 24px 0px 5.782px 24px;

            &-title {
                font-size: 20px;
                margin-bottom: 32px;
            }

            &-list {
                gap: 20px;
            }
        }

        &__left {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}