.loopScroler {
    width: 100%;

    .swiper-wrapper {
        width: 100%;
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 40px;

    }

    &__wrapper {
        display: flex;
        flex-direction: row;

        &-item {
            width: 204px;
            margin-left: 40px;
        }
    }
}