.searchModal {
    position: absolute;
    top: -33px;
    // top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    flex-shrink: 0;
    background: rgba(10, 10, 11, 0.70);
    backdrop-filter: blur(42px);

    &__x {
        position: absolute;
        top: 78px;
        right: 85px;
        width: 78px;
        height: 78px;
    }

    &__form {
        margin-top: 382px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        label {
            color: #FFF;
            font-family: "IBM Plex Sans", sans-serif;
            font-size: 40px;
            font-weight: 500;
        }

        input {
            outline: none;
            border: none;
            background: inherit;
            padding: 10px;
            color: #FFF;
            font-family: "IBM Plex Sans", sans-serif;
            font-size: 25px;
            font-weight: 500;
            border-bottom: 2.214px solid #FFF;
        }
        button{
            outline: none;
            border: none;
            padding: 10px 15px;
            margin-top: 30px;
            width: 90px;
            font-size: 15px;
            color: #F7931E;
            border-radius: 6px;
background: rgba(247, 147, 30, 0.10);
        }
    }

    &__div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

}

@media only screen and (max-width:560px) {
    .searchModal {
        height: 180vh;

        &__x {
            // position: absolute;
            top: 48px;
            right: 45px;
            width: 48px;
            height: 48px;
        }

    }
}