.tegs {
    padding-top: 126px;

    &-text {
        font-family: "BBC Reith Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
    }

    &-cardimg {
        margin-top: 24.5px;
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 21px;

        &__left {
            display: grid;
            grid-template-columns: 1fr;
            height: fit-content;
            gap: 20px;
        }

        &__aside {
            display: none;
        }
    }
}

@media only screen and (min-width:576px) {
    .tegs {
        &-text {
            font-size: 18px;
        }

        &-cardimg {

            &__left {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }
        }
    }
}

@media only screen and (min-width:768px) {
    .tegs {
        &-cardimg {
            grid-template-columns: 1fr 173px;
            gap: 17px;

            &__left {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px 10px;
            }

            &__aside {
                display: grid;
                grid-template-columns: 1fr;
                height: fit-content;
                gap: 9px;

                &-img1 {
                    height: 326px;
                }
            }
        }
    }
}

@media only screen and (min-width:1200px) {
    .tegs {
        &-cardimg {
            grid-template-columns: 1fr 305px;
            gap: 20px;

            &__left {
                gap: 20px;
            }

            &__aside {
                gap: 20px;

                &-img1 {
                    height: 574px;
                }
            }
        }
    }
}